@import "styles/colors";

.main {
  flex-grow: 1;

  &-title {
    margin-top: 1rem;
    color: $white;
  }

  &-description {
    flex-grow: 0;
    margin-top: 1rem;
    color: $gray;
    max-width: 55rem;
  }
}
