@import "styles/colors";

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  max-width: 25rem;

  &-item {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
  }

  &-image {
    width: 168px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    &-title {
      font-size: 0.875rem;
      color: $white;
    }

    &-channel {
      font-size: 0.75rem;
      color: $gray;
    }
  }
}
